<div class="section-title">

      <% @vector_list.each do |message| %>

     <h4> <b>Descrição:  </b><%= message.description %> </h4>
     <div><%= link_to 'Responder', new_message_path(:receiver_id => message.user_id) , class: 'btn btn-lg btn-info' %></div >


      <% end %>
</div>
