 <div class="section-title">
      <h2><%= @user.user_name %> </h2><br>
      <h4> <b>CPF:  </b><%= @user.user_cpf %> </h4>
      <h4> <b>Sexo:  </b><%= @user.user_sex %> </h4>
      <h4> <b>Data de Nascimento:  </b><%= @user.user_date_of_birth %> </h4>


   	<div class="col-md-1">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    </div>
