<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>B2M</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= favicon_link_tag 'ico-b2m.ico' %>

        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
         
         <!-- header Start
         ================================================= -->
        
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="block-left">
							<nav class="navbar navbar-default" role="navigation">
							  <div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Navegar</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
								  <div class="nav-logo">
									<a href="#"><%= image_tag 'logo-b2m.png' %>
                                    </a>
								  </div>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
									<li><a href="#">Sobre</a></li>
									<li><a href="#">Comprar</a></li>
									<li><a href="#">Vender</a></li>
								  </ul>
								</div><!-- /.navbar-collapse -->
							  </div><!-- /.container-fluid -->
							</nav>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-3">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><a href="#">Sign in</a></li>
                                    <li><a href="/users/new">Sign up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #heder close -->

        <!-- Slider Start
        ============================================================== -->

        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area">
                                <div class="slider-text">
                                    <h2>Busque, compare, pague <br></h2> 
                                    <p class="sub-slider-text">tudo online e ainda receba <br>na sua cidade</p>
                                    <p class="slider-p">O B2M pode ajudar a pagar as despesas das suas próximas viagens.</p>
                                    <button type="button" class="btn btn-default edit-button-1">Cadastrar viagem</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->

        <!-- Contant-2 Start
        =============================================================== -->

        <section id="contant-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
                            <div class="contant-2-img">
                                <%= image_tag 'mobile-phon-3.png' %>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contant-2-text-area">
                                <div class="contant-2-header">
                                    <h1>Anuncie sua viagem</h2>
                                </div>
                                <div class="contant-2-text">
                                   <h2>Pessoas entrarão em contato com você</h3>
                                   <p>Ao anunciar sua viagem, pessoas entraram em contato com você e nogociarão diretamente os produtos e preços, sem precisar cadastrar nada.</p>
                                   <button type="button" class="btn btn-default edit-button-3">Cadastre sua viagem</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #contant-2 close -->

        <!-- testimonial Start
        ============================================================= -->

        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="testimonial-area">
                                <div class="tm-header">
                                    <h2>O que dizem sobre nós</h2>
                                </div>
                                <div class="tm-contant">
									<div class="tm-contant-items" id="slide-testimonial">
										<div class="tm-contant-list item">
											<div class="tm-img">
                                                <%= image_tag 'pepole-img.png' %>
											</div>
											<div class="tm-text">
												<p>"Com o B2M posso viajar tranquilo em saber que vou conseguir bancar a próxima viagem" <span>- João Pedro</span></p>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #testimonial close -->


        <!-- Submit Start
        ======================================================== -->

        <section id="submit-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="submit-contant">
                                <div class="submit-header">
									<i class="fa fa-envelope-o"></i>
                                    <h3>Se envolva</h3>                                   
                                </div>
								<div class="submit-area">
									<div class="submit-bottom">
										<form action="">
											<input type="text" placeholder="seu email">
											<input type="submit" value="Enviar">
										</form>
									</div>
								</div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #submit close -->


        <!-- footer Start
        ====================================================================== -->

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="footer-contant">
                                <h3>Entre em contato</h3>
                                <div class="social-icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-flickr"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                                <div class="support-link">
                                    <ul>
                                        <li><a href="#">Sobre</a></li>
                                        <li><a href="#">Contato</a></li>
                                        <li><a href="#">Imprensa</a></li>
                                        <li><a href="#">Projeto</a></li>
                                        <li><a href="#">Documentação</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #footer -->
















        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
